<%- include("partials/adminheader"); -%>
    <div>
        <img class="wallpaper" src="img/wallpaperAdmin.jpg" alt="">
    </div>
        <div style="text-align: center;">
             <img height="200px" width='200px' style="margin-top: -8rem;margin-left: auto;margin-right: auto;"src="img/profile.png" alt="">
            <h2 style="text-align: center;margin-top: 1rem;margin-left:2rem;">Welcome Haseeb Ullah Tarakai</h2>
        <br>
        <div class="mt-1" style="margin-bottom: 2rem;">
        <a href="http://" class="btn btn-dark mr-3" >Home</a>
        <a href="http://" class="btn btn-dark mr-3" >Posts</a>
        <a href="/messages" class="btn btn-dark mr-3" >Messages</a>
        <a href="http://" class="btn btn-dark mr-3" >Logout</a>
    </div>
    
    </div>
        <div class="container-fluid">
            <div class="">
                <div class="row">
                    <div class="col col-lg-6">
                      <h2>Comments</h2>
                      <hr>
                      <div class="container">
                        <div class="row">
                        <div class="col-sm-12">
                          <div class="chat_container">
                            <div class="job-box">
                              <div class="job-box-filter">
                                <div class="row">
                                  <div class="col-md-6 col-sm-6">
                                  </div>
                                </div>
                              </div>
                              <div class="inbox-message">
                                <ul>
                                  <% comments.forEach(comment => {%>
                                  <li>
                                    <a href="#">
                                      <div class="message-avatar">
                                        <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="">
                                      </div>
                                      <div class="message-body">
                                        <div class="message-body-heading">
                                          <h5><%= comment.firstName%></h5>
                                          <span><%= messege.time%></span>
                                          
                                        </div>
                                        <p><%= comment.opinion%></p>
                                        <span>Email: <%= messege.email%></span>
                                      </div>
                                    </a>
                                  </li>
                                  <% }) %>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                        </div>
                        </div>
                    
                </div>
                <div class="col col-lg-6">
                  <h3>Recent Post</h3>
                  <hr>
                    <div class="row">
                       <!-- .Col ends here -->
                        <div class="col-lg-12">
                            <div class="sidebar widget">
                              <%PreviousPosts.forEach(post => { %>
                                <ul>
                                  <li>
                                      <div class="sidebar-thumb bg-light">
                                          <img class="animated rollIn bg-light" src="img/recent.png" alt="" />
                                      </div><!-- .Sidebar-thumb -->
                                      <div class="sidebar-content">
                                          <h5 class="animated bounceInRight"><a href="/posts/<%=post.title%>"><%= post.title %></a></h5>
                                      </div><!-- .Sidebar-thumb -->
                                      <div class="sidebar-meta">
                                          <span class="time" ><i class="fa fa-clock-o"></i> Aug 27, 2015</span>
                                          <span class="comment"><i class="fa fa-comment"></i> 10 comments</span>
                                      </div><!-- .Sidebar-meta ends here -->
                                  </li><!-- .Li ends here -->
                                </ul><!-- .Ul ends here -->
                                <% }); %>
                            </div><!-- .Widget ends here -->
                        </div><!-- .Col ends here -->
                      
                    </div><!-- .Row ends here -->
                  
                  
                  
                  
                      
                </div> 
                </div>
                
              </div>
              
        </div>
        <hr>
        
        <%- include("partials/footer"); -%>